<header class="sticky-header">
  <nav class="main-nav">
    <div class="logo">
      <img src="logo.png" alt="Logo Estética" class="header-logo">
    </div>
    
    <div class="nav-icons">
      <i class="fas fa-sun" (click)="toggleTheme()" title="Cambiar Tema"></i>

      <i class="fas fa-user"></i>
      
      <a href="https://www.instagram.com/pourvous.cl/" target="_blank" title="Síguenos en Instagram">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://wa.me/56926810138" target="_blank" title="Escríbenos por WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </nav>

  <div class="separator-container">
    <div class="gold-separator"></div>
  </div>
</header>